# Movie Recommendation System

In [1]:
import numpy
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
movies_df = pd.read_csv('./Datasets/tmdb_5000_movies.csv')
credits_df = pd.read_csv('./Datasets/tmdb_5000_credits.csv')

In [3]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
## Languages 
movies_df['original_language'].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: original_language, dtype: int64

In [6]:
## Merge both dataframes
movies_df = movies_df.merge(credits_df, on='title')

In [7]:
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

## Important Rows : 
- genres
- keyword
- overview
- movie_id
- title
- cast
- crew

In [9]:
movies_df = movies_df[['movie_id', 'genres', 'keywords', 'overview', 'title', 'cast', 'crew']]

In [10]:
movies_df.head()

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...",Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...",Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...",John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
def data_preprocess(string):
    l = []
    for i in eval(string):
        l.append(i['name'])
    return l

In [12]:
movies_df['genres'] = movies_df['genres'].apply(data_preprocess)

In [13]:
movies_df['keywords'] = movies_df['keywords'].apply(data_preprocess)

In [14]:
def movie_cast_preprocessing(string):
    l = []
    counter = 0
    for i in eval(string):
        l.append(i['name'])
        counter += 1
        if counter == 3:
            break
    return l

In [15]:
movies_df['cast'] = movies_df['cast'].apply(movie_cast_preprocessing)

In [16]:
def fetch_director_name(string):
    l = []
    for i in eval(string):
        if i['job'] == 'Director':
            l.append(i['name'])
    return l

In [17]:
movies_df['crew'] = movies_df['crew'].apply(fetch_director_name)

In [18]:
print(type(movies_df['overview'][0]))
movies_df['overview'][0]

<class 'str'>

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [19]:
movies_df.isna().sum()

movie_id    0
genres      0
keywords    0
overview    3
title       0
cast        0
crew        0
dtype: int64

In [20]:
## As there are some missing values in the overview column, we are going to delete those rows
movies_df.dropna(subset=['overview'], inplace=True)

In [21]:
movies_df.isna().sum()

movie_id    0
genres      0
keywords    0
overview    0
title       0
cast        0
crew        0
dtype: int64

In [22]:
## Spliting the sentence in overview column
movies_df['overview'] = movies_df['overview'].apply(lambda x: x.split())

In [23]:
movies_df.head()

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [24]:
import pickle
pickle.dump(movies_df.to_dict(), open('pickle files\informative_movies_dict.pkl', 'wb'))

In [25]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [i.replace(' ', '') for i in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [i.replace(' ', '') for i in x])
movies_df['cast'] = movies_df['cast'].apply(lambda x: [i.replace(' ', '') for i in x])
movies_df['crew'] = movies_df['crew'].apply(lambda x: [i.replace(' ', '') for i in x])

In [26]:
movies_df.head()

,movie_id,genres,keywords,overview,title,cast,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,"[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[Captain, Barbossa,, long, believed, to, be, d...",Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[A, cryptic, message, from, Bond’s, past, send...",Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[Following, the, death, of, District, Attorney...",The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,"[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[John, Carter, is, a, war-weary,, former, mili...",John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [27]:
movies_df['tags'] = movies_df['overview'] + movies_df['genres'] + movies_df['keywords'] + movies_df['cast'] + movies_df['crew']

In [28]:
# Keeping, movie_id, title, tags. else removing
movies_df = movies_df[['movie_id', 'title', 'tags']]

In [29]:
movies_df['tags'] = movies_df['tags'].apply(lambda x: ' '.join(x))

In [30]:
movies_df['tags'] = movies_df['tags'].apply(lambda x: x.lower())

In [31]:
movies_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [32]:
## taking words to their root form, example: activities - activity, as these well create useless vectors
import nltk
from nltk.stem.porter import PorterStemmer
ps  = PorterStemmer()

def convert_rootForm(string):
    l = []
    for word in string.split():
        l.append(ps.stem(word))
    
    return ' '.join(l)

In [33]:
movies_df['tags'] = movies_df['tags'].apply(convert_rootForm)

In [34]:
movies_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [35]:
movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [82]:
movies_df.shape

(4806, 3)

## Vectorization

In [83]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [84]:
vectors = cv.fit_transform(movies_df['tags']).toarray()

In [85]:
cv.get_feature_names_out()[:1000]

array(['000', '007', '10', '100', '11', '12', '13', '14', '15', '16',
       '17', '17th', '18', '18th', '18thcenturi', '19', '1910', '1920',
       '1930', '1940', '1944', '1950', '1950s', '1960', '1960s', '1970',
       '1970s', '1971', '1974', '1976', '1980', '1985', '1990', '1999',
       '19th', '19thcenturi', '20', '200', '2003', '2009', '20th', '21st',
       '23', '24', '25', '30', '300', '3d', '40', '50', '500', '60', '70',
       '80', 'aaron', 'aaroneckhart', 'abandon', 'abduct',
       'abigailbreslin', 'abil', 'abl', 'aboard', 'abov', 'abus',
       'academ', 'academi', 'accept', 'access', 'accid', 'accident',
       'acclaim', 'accompani', 'accomplish', 'account', 'accus', 'ace',
       'achiev', 'acquaint', 'act', 'action', 'actionhero', 'activ',
       'activist', 'activities', 'actor', 'actress', 'actual', 'ad',
       'adam', 'adamsandl', 'adamshankman', 'adapt', 'add', 'addict',
       'adjust', 'admir', 'admit', 'adolesc', 'adopt', 'ador',
       'adrienbrodi', 'adult', 'adultanim', 'adulteri', 'adulthood',
       'advanc', 'adventur', 'adventure', 'adventures', 'advertis',
       'advic', 'advis', 'affair', 'affect', 'afghanistan', 'africa',
       'african', 'africanamerican', 'aftercreditssting', 'afterlif',
       'aftermath', 'ag', 'age', 'agediffer', 'agenc', 'agency', 'agenda',
       'agent', 'agents', 'aggress', 'ago', 'agre', 'ahead', 'aid',
       'aidanquinn', 'ail', 'aim', 'air', 'airplan', 'airplanecrash',
       'airport', 'aka', 'al', 'alabama', 'alan', 'alaska', 'albert',
       'alcatraz', 'alcohol', 'alecbaldwin', 'alex', 'alexkendrick',
       'alfredhitchcock', 'alfredmolina', 'ali', 'alic', 'alice', 'alien',
       'alieninvas', 'alienlife', 'alienplanet', 'aliens', 'alik', 'aliv',
       'alive', 'allen', 'alli', 'allianc', 'allow', 'alon', 'alongsid',
       'alpacino', 'alpha', 'alreadi', 'alter', 'altern', 'alway',
       'alyssa', 'alzheimer', 'amanda', 'amandapeet', 'amandaseyfri',
       'amateur', 'amaz', 'amazon', 'ambassador', 'ambit', 'ambiti',
       'ambul', 'ambush', 'america', 'american', 'americanabroad',
       'americancivilwar', 'americanfootbal', 'americanfootballplay',
       'amid', 'amidst', 'amnesia', 'amp', 'amsterdam', 'amus',
       'amusementpark', 'amy', 'amyadam', 'amysmart', 'ana', 'anakin',
       'analyst', 'anarchiccomedi', 'ancient', 'ancientrom',
       'ancientworld', 'anderson', 'andi', 'andiemacdowel', 'andrew',
       'android', 'andy', 'andygarcía', 'angel', 'angela',
       'angelabassett', 'angeles', 'angelinajoli', 'anger', 'angle',
       'angri', 'ani', 'anim', 'animalattack', 'animalhorror', 'animals',
       'anjelicahuston', 'ann', 'anna', 'annafari', 'annakendrick',
       'anne', 'annehathaway', 'annemoss', 'annetteben', 'anni', 'annie',
       'anniversari', 'announc', 'annual', 'anonym', 'anoth', 'answer',
       'ant', 'antholog', 'anthoni', 'anthonyanderson', 'anthonyhopkin',
       'anthonymacki', 'anthropomorph', 'anti', 'antic', 'antihero',
       'antiqu', 'antoinefuqua', 'antoniobandera', 'antonyelchin',
       'anyon', 'anyth', 'apart', 'apartheid', 'apartment', 'ape',
       'apocalyps', 'apocalypse', 'apocalypt', 'appar', 'appear', 'appl',
       'apple', 'appoint', 'appreci', 'apprentic', 'approach', 'april',
       'aquarium', 'arab', 'arch', 'archaeologist', 'archeolog', 'archer',
       'architect', 'arctic', 'area', 'aren', 'arena', 'argument', 'aris',
       'aristocrat', 'arm', 'armi', 'armor', 'armsdeal', 'army', 'arnold',
       'arnoldschwarzenegg', 'arrang', 'arrangedmarriag', 'arrest',
       'arriv', 'arrog', 'art', 'arthur', 'artifact', 'artifici',
       'artificialintellig', 'artist', 'ash', 'ashley', 'ashleyjudd',
       'ashtonkutch', 'asia', 'asian', 'asid', 'ask', 'aspect', 'aspir',
       'assassin', 'assault', 'assembl', 'assign', 'assist', 'assistant',
       'associ', 'assum', 'asteroid', 'astronaut', 'asylum', 'atheist',
       'athlet', 'atom', 'atomicbomb', 'attack', 'attacks', 'attempt',
       'attempttoescap', 'attend', 'attent', 'attic', 'attitud',
       'attorney', 'attract', 'auction', 'audienc', 'audit', 'august',
       'aunt', 'austin', 'australia', 'australian', 'author', 'autism',
       'auto', 'automobilerac', 'aveng', 'averag', 'avoid', 'await',
       'awak', 'awaken', 'award', 'away', 'awkward', 'awri', 'awry', 'ax',
       'babe', 'babi', 'baby', 'bachelor', 'backdrop', 'background',
       'backpack', 'bad', 'bag', 'bahama', 'bail', 'balanc', 'ball',
       'ballet', 'balloon', 'ban', 'band', 'bandit', 'bangkok', 'banish',
       'bank', 'banker', 'bankrobb', 'bankrobberi', 'bar',
       'barbrastreisand', 'bare', 'bargain', 'barn', 'barney', 'baron',
       'barri', 'barrylevinson', 'barrysonnenfeld', 'bas', 'base',
       'basebal', 'basedoncomicbook', 'basedongraphicnovel',
       'basedonnovel', 'basedonplay', 'basedonstagemus', 'basedontrueev',
       'basedontruestori', 'basedontvseri', 'basedonvideogam',
       'basedonyoungadultnovel', 'basement', 'basketbal', 'bat', 'batman',
       'battl', 'battle', 'battlefield', 'bay', 'beach', 'beam', 'bear',
       'beard', 'beast', 'beat', 'beauti', 'beautiful', 'beautifulwoman',
       'beauty', 'becam', 'becaus', 'becki', 'becom', 'becominganadult',
       'bed', 'bedroom', 'beer', 'befor', 'befriend', 'began', 'begin',
       'begins', 'behavior', 'belief', 'believ', 'bell', 'bella',
       'belong', 'belov', 'ben', 'benaffleck', 'bend', 'beneath',
       'benefit', 'benfost', 'beniciodeltoro', 'benjamin',
       'benjaminbratt', 'benkingsley', 'bennett', 'benstil', 'bent',
       'berlin', 'best', 'bestfriend', 'bestfriendsinlov', 'bet', 'beth',
       'betray', 'bettemidl', 'better', 'betti', 'beverli', 'bibl', 'bid',
       'big', 'bigger', 'biggest', 'bike', 'biker', 'bikini', 'billhad',
       'billi', 'billionair', 'billmurray', 'billnighi', 'billpaxton',
       'billpullman', 'billybobthornton', 'billycrudup', 'billycryst',
       'biographi', 'biolog', 'bird', 'birth', 'birthday', 'bisexu',
       'bishop', 'bit', 'bite', 'bitter', 'bizarr', 'black', 'blackmag',
       'blackmail', 'blackpeopl', 'blacksmith', 'blade', 'blame', 'blend',
       'blind', 'bliss', 'blizzard', 'block', 'blond', 'blood', 'bloodi',
       'bloodsplatt', 'bloodthirsti', 'blow', 'blue', 'board',
       'boardingschool', 'boat', 'bob', 'bobbi', 'bobbyfarrelli',
       'bobhoskin', 'bodi', 'body', 'bodyguard', 'bold', 'bollywood',
       'bomb', 'bond', 'bone', 'book', 'border', 'bore', 'boredom',
       'born', 'boss', 'boston', 'botch', 'bound', 'boundari', 'bounti',
       'bountyhunt', 'box', 'boxer', 'boy', 'boyfriend', 'boys',
       'bradleycoop', 'bradpitt', 'brain', 'brand', 'brandon', 'brave',
       'braveri', 'brazil', 'brazilian', 'break', 'breakdown', 'breakup',
       'breast', 'breath', 'breed', 'brendanfras', 'brendangleeson',
       'brent', 'brettratn', 'brian', 'briandepalma', 'bride',
       'bridesmaid', 'bridg', 'brief', 'brien', 'bright', 'brilliant',
       'bring', 'brink', 'britain', 'british', 'britishsecretservic',
       'brittanymurphi', 'broadcast', 'broadway', 'broke', 'broken',
       'broker', 'bronx', 'brook', 'brooklyn', 'broom', 'brothel',
       'brother', 'brotherbrotherrelationship', 'brothers',
       'brothersisterrelationship', 'brought', 'brown', 'bruce',
       'brucegreenwood', 'brucewilli', 'brutal', 'bryansing', 'bu',
       'buck', 'bud', 'buddi', 'buddy', 'buddycomedi', 'buddycop',
       'budget', 'build', 'building', 'built', 'bullet', 'bulli', 'bumbl',
       'bunch', 'bunker', 'bunni', 'burglar', 'buri', 'burn', 'bush',
       'busi', 'business', 'businessman', 'bust', 'butcher', 'butler',
       'butt', 'button', 'buy', 'buzz', 'cabin', 'caesar', 'cage',
       'cairo', 'cal', 'california', 'calvin', 'camcord', 'came',
       'camera', 'cameraman', 'camerondiaz', 'camp', 'campaign',
       'campbell', 'campu', 'canada', 'canadian', 'cancer', 'candi',
       'candid', 'canin', 'cannib', 'canuxploit', 'capabl', 'caper',
       'capit', 'capt', 'captain', 'captiv', 'captur', 'capture', 'car',
       'caraccid', 'carchas', 'carcrash', 'card', 'care', 'career',
       'carefre', 'caretak', 'careymulligan', 'caribbean', 'carjourney',
       'carl', 'carlagugino', 'carmen', 'carol', 'carolina', 'carrac',
       'carri', 'carrie', 'cartel', 'carter', 'cartoon', 'caryelw',
       'case', 'caseyaffleck', 'cash', 'casino', 'cast', 'castl', 'cat',
       'cataclysm', 'catastroph', 'catch', 'cateblanchett',
       'catherinedeneuv', 'catherinekeen', 'catherinezeta', 'cathol',
       'catholic', 'cattl', 'caught', 'caus', 'cavalri', 'cave',
       'cavemen', 'celebr', 'celebration', 'cell', 'cellphon', 'cemeteri',
       'center', 'centr', 'central', 'centuri', 'centuries', 'century',
       'ceo', 'certain', 'chad', 'chain', 'chainsaw', 'challeng',
       'chamber', 'champion', 'championship', 'chanc', 'chance', 'chang',
       'change', 'changed', 'changes', 'channingtatum', 'chao', 'chaos',
       'chaotic', 'chapter', 'charact', 'character', 'characters',
       'charg', 'charismat', 'charl', 'charli', 'charlie', 'charliesheen',
       'charlizetheron', 'charm', 'chart', 'chase', 'chauffeur',
       'chazzpalminteri', 'cheat', 'check', 'cheerlead', 'chef', 'chemic',
       'cher', 'chevychas', 'chicago', 'chicken', 'chief', 'child',
       'childabus', 'childhero', 'childhood', 'childprodigi', 'children',
       'chill', 'chimp', 'china', 'chines', 'chip', 'chipmunk',
       'chiwetelejiofor', 'chloe', 'chloëgracemoretz', 'chloësevigni',
       'chocol', 'choic', 'choice', 'choos', 'chosen', 'chowyun', 'chri',
       'chriscolumbu', 'chriscoop', 'chrisevan', 'chrishemsworth',
       'chrisklein', 'chrispin', 'chrisrock', 'christ', 'christian',
       'christianbal', 'christianslat', 'christin', 'christinaappleg',
       'christinaricci', 'christma', 'christmas', 'christmasparti',
       'christmastre', 'christoph', 'christopherlambert',
       'christopherlloyd', 'christophernolan', 'christopherplumm',
       'christopherwalken', 'christophwaltz', 'chrisweitz', 'chronicl',
       'chuck', 'church', 'cia', 'ciaránhind', 'cigarettesmok',
       'cillianmurphi', 'cinema', 'circl', 'circu', 'circuit', 'circumst',
       'citi', 'citizen', 'city', 'civil', 'civilian', 'civilwar',
       'claim', 'clair', 'clairedan', 'claireforlani', 'clan', 'clark',
       'clash', 'class', 'classdiffer', 'classic', 'classmat',
       'classroom', 'claudevandamm', 'clay', 'clean', 'clear', 'clerk',
       'clever', 'client', 'clients', 'cliff', 'climat', 'climb',
       'clinteastwood', 'cliveowen', 'clock', 'clone', 'close', 'closer',
       'cloud', 'clown', 'club', 'clue', 'clueless', 'clutch', 'coach',
       'coast', 'cocain', 'code', 'coffin', 'cohen', 'col', 'cold',
       'coldwar', 'cole', 'colin', 'colinfarrel', 'colinfirth', 'collaps',
       'colleagu', 'collect', 'collector', 'colleg', 'college', 'collid',
       'collis', 'colombia', 'colonel', 'coloni', 'color', 'colorado',
       'coma', 'combat', 'combin', 'come', 'comeback', 'comed', 'comedi',
       'comedian', 'comedy', 'comet', 'comfort', 'comic', 'coming',
       'comingofag', 'comingout', 'command', 'commando', 'commerci',
       'commiss', 'commit', 'common', 'commun', 'communist', 'community',
       'compani', 'companion', 'company', 'compet', 'competit',
       'competition', 'complet', 'complex', 'complic', 'compos',
       'compuls', 'comput', 'computerviru', 'conan', 'concern', 'concert',
       'concoct', 'condit', 'condition', 'conduct', 'confeder', 'confess',
       'confid', 'confin', 'conflict', 'confront', 'confus', 'congress',
       'conman', 'connect', 'connecticut', 'connel', 'connor', 'conquer',
       'consequ', 'consequences', 'conserv', 'consid', 'conspir',
       'conspiraci', 'conspiracy', 'constant', 'constantli', 'construct',
       'consum', 'contact', 'contain', 'contemporari', 'contend',
       'content', 'contest', 'continu', 'contract', 'contractor',
       'control', 'controversi', 'convent', 'converg', 'convers',
       'convict', 'convinc', 'cook', 'cool', 'cooper', 'cop', 'cope'],
      dtype=object)

In [86]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [87]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [88]:
movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [107]:
recommend_films = sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

In [108]:
print(recommend_films)

[(1216, 0.28676966733820225), (2409, 0.26901379342448517), (3730, 0.2605130246476754), (507, 0.255608593705383), (539, 0.25038669783359574)]

In [110]:
for movie_index in recommend_films:
    print(movies_df['movie_id'][movie_index[0]])

440
679
17663
602
7450

In [90]:
def recommend_movies(movie):
    movie_index = movies_df[movies_df['title'] == movie].index[0]
    movie_similarity = similarity[movie_index]
    movies = sorted(list(enumerate(movie_similarity)), reverse=True, key=lambda x:x[1])[1:6]
    recommended_movies = []
    for movie in movies:
        recommended_movies.append(movies_df['title'][movie[0]])
    return recommended_movies

## Deploying the final movies dataframe

In [91]:
import pickle
pickle.dump(movies_df.to_dict(), open('pickle files\movies_dict.pkl', 'wb'))

In [92]:
movies_df[1000:2000]

,movie_id,title,tags
1000,329833,Zoolander 2,derek and hansel are model again when an oppos...
1001,12634,The Big Bounce,a small-tim con artist and a hawaiian real est...
1002,10416,What Planet Are You From?,"a highly-evolv planet, whose denizen feel no e..."
1003,47327,Drive Angry,milton is a harden felon who ha broken out of ...
1004,15268,Street Fighter: The Legend of Chun-Li,"when a teenager, chun-li wit the kidnap of her..."
...,...,...,...
1995,10663,The Waterboy,bobbi boucher is a water boy for a struggl col...
1996,1891,The Empire Strikes Back,"the epic saga continu as luke skywalker, in ho..."
1997,9737,Bad Boys,marcu burnett is a hen-peck famili man. mike l...
1998,37137,The Naked Gun 2½: The Smell of Fear,bumbl cop frank drebin is out to foil the big ...
1999,9532,Final Destination,after a teenag ha a terrifi vision of him and ...